body{
    background-color: rgb(0, 5, 10);
}

.darkBG{
    background-color: rgb(0, 5, 10);
}

.tweet-btn {
    position: relative;
    width: 100%;
}

.homeNav {
    border-bottom: 1px solid cornsilk;
}

.statusHeader{
    border: 1px solid cornsilk;
    border-top: none;
}

.feedItem{
    border: 1px solid cornsilk;
    border-top: none;
}

.trendItem{
    border: 1px solid cornsilk;
    border-left: none;
    border-right: none;
    background-color: rgb(3, 3, 3);
}

.profCircle{
    border-radius: 1.5rem;
}

#feedList{
    list-style: none;
}

#profContent{
    display: inline;
    list-style: none;
}

.nameHeader{
    margin-left: 20px;
}

.statusHeaderItem {
    margin-left: 20px;
}

.statusItem {
    margin-top: 10px;
}

.statusReact {
    margin-left: 100px;
}